@font-face {
  font-family: 'Geometria';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/geometria-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Geometria';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/geometria-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Geometria';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/geometria-heavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Geometria';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/geometria-extrabold.ttf') format('truetype');
}
