@import 'vars.scss';
@import 'fonts.scss';
// ==================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bodyColor;
  color: $textColor;
}
.container {
  max-width: 981px;
  margin: 0 auto;
  // padding: 0 70px;
}
